/* Estilos generales */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;

    font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color:#ffecfc
}

.whatsapp-btn {
	transition: all 0.3s ease-in-out;

	z-index: 9999;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #25d366;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .tooltip {
	z-index: 9999;
	position: fixed;
	bottom: 20px;
	right: 20px;
	transform: translateY(-50%);
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	white-space: nowrap;
	opacity: 0;
	transition: all 0.3s ease;
  }
  
  .whatsapp-btn:hover {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #25d366;
}

.whatsapp-btn:hover ~ .tooltip {
	left: calc(100% + 10px);
	opacity: 1;
}
img {
	max-width: 100%;
	height: auto;
}

.image-center-with-text {
	margin-top: 40px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .image-center {
	flex: 1;
	max-width: 50%;
	margin-right: 20px;
	text-align: right;
  }
  .image-center img{
	width: 120px;
  }
  
  .products-text {
	flex: 1;
  }
  .products-text h1{
	margin-top: -15px;
	font-family: 'Montserrat Black', sans-serif;
  }
  .products-text h2{
	font-weight: 80;
  }
  .circulo {
    position: absolute;
  z-index: -1;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #cc9ac5d0;
  transform: scale(1);
  transition: transform 0.5s ease;
  right: -10%;
  top: -20%;
  transform-origin: 100% 50%;
  }

  
/* Estilos del menú */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1d2137d2;
	z-index: 999;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
  }
  
  header.hide {
	transform: translateY(-60px);
  }
  
  header.show {
	transform: translateY(0);
  }
  .logo {
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
  .logo img {
	width: 300px;
  }
  

/* Estilos para el slider */

.slider {
	position: relative;
	width: 100%;
	height: 450px;
	overflow: hidden;
  }
  
  .slider img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	filter: brightness(0.5);

  }

  .slider img.active {
	opacity: 1;
  }
  .banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	font-size: 2em;
  }

  .banner-text h3{
	font-family: 'Montserrat thin', sans-serif;
	font-size: 40px;
	font-weight: 100;

	margin-bottom: 0px;
}
.banner-text h4{
	margin-top: -20px;
	font-family: 'Montserrat Black', sans-serif;
	font-size: 50px;
}

/*-------------------------------------------------+*/
.btnnext-cont{
	width: 10%;
}
.btn-next {
	width: 100px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #CC9AC5;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	transition: all 0.3s ease;
	z-index: 999; /* Coloca el botón encima de otros elementos */
  }
.container{
	width: 100%;
	position: relative;
	padding: 10px 40px;
  }
  .container .swiper-container{
	width: 80%;
	height: 100%;
  }
  .container .swiper-slide {
	position: relative;
	text-align: center;
	background: #ffffff1e;
	border-radius: 15px;
	text-align: start;
	box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
	max-width: 500px !important; /* Cambiar a max-width en lugar de width */
	display: flex;
	flex-direction: row;
	transition: all 0.3s ease;

  }
  .container .swiper-slide:hover {
	background: #ffffffbe;
  }
  .container .swiper-slide img{
	margin-top: 10%;
	display: block;
	width: 40%; /* ajusta el ancho de la imagen según tus necesidades */
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
  
  }
  .container .swiper-slide .card-description{
	padding: 1rem;
	width: 60%; /* ajusta el ancho del contenedor de descripción según tus necesidades */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
  }
  .container .swiper-slide .card-title,.container .swiper-slide .card-text{
	 margin-bottom: .5rem;
  }
  .container .swiper-slide .btn-ordenar{
	 text-align: start;
  }
  .card-text{
	height: 60px;
  }
  .container .swiper-slide .btn-ordenar button{
	 width: 40%;
	 height: 30px;
	 background-color: #CC9AC5;
	 color: #fff;
	 border: none;
	 font-size: 15px;
	 font-family: 'Montserrat Light', sans-serif;
	 transition: all 0.3s ease;

  }

  .container .swiper-slide .btn-ordenar button:hover{
	cursor: pointer;
	background-color: #1D2137;
 }
  .titulo-1 {
	font-family: 'Montserrat Light', sans-serif;
  }
  .titulo-2 {
	font-family: 'Montserrat Black', sans-serif;
	font-size: 30px;
	margin-top: -14px;
  }
  .cantidad {
	font-family: 'Montserrat Light', sans-serif;
	font-size: 20px;
  }
  .swiper-button-next{
	  right: 26px !important;
  }
  .swiper-button-prev{
	  left: 26px !important;
  }
/*-------------------------------------------------+*/

@media screen and (max-width: 768px) {
	.slider {
		height: 200px;
	}
}
@media screen and (max-width: 480px) {
	.slider {
		height: 100px;
	}
}
